.heading{
    font-size: 20px;
    width: 100%;
}

.heading_div{
    float: none;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px grey;
}

.heading_div2{
    font-size: 20px;
}

.copy_right_footup{
    position: fixed;
    color: aqua;
    bottom: 0%;
    width: 100%;
    background-color: red;
    line-height: 3;
    text-align: center;
    font-size: 25px;
}

canvas{
    border: 5px solid blue;
    border-radius: 20px;
    box-shadow: 5px 5px 5px white;
    margin-top: 100px;
}